In [2]:
from IPython.core.display import HTML, Image
css_file = '../data/style.css'
HTML(open(css_file, 'r').read())

# Intermediate Python
## Comprehensions

Alfred Essa, Ani Aghababyan

## Learning Objectives

# List Comprehensions

## Simple examples

In [3]:
# raise power of two
[number**2 for number in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
# modulo 2
[number%2 for number in range(10)]

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [5]:
[number for number in range(10) if number%2==0]

[0, 2, 4, 6, 8]

## Basic forms

[ *expr* for *val* in *collection*]

- This parallels the structure of map
- **expr** is the function we apply to the collection
- we iterate over the collection, applying the expression to each *val* in the collection


[ *expr* for *val* in *collection* if <*condition*>]

[ *expr* for *val1* in *collection1* for *val2* in *val2* in *collection2*]

 # More Examples

- Build list of last name initial from list of last names
- Build list of last names which only begin with a vowel
- Build list of initials from list of full names

In [6]:
last_names = ['Austen','Diderot','Woolf','Melville','Pessoa','Goethe','Akhmatova']

In [7]:
full_names = ['Jane Austen', 'Virginia Woolf', 'Denis Diderot', 'Herman Melville', 'Johann Wolfgan von Goethe', 'Anna Akhmatova']

#### list of last name initial from list of last names

In [8]:
[name[0] for name in last_names]

['A', 'D', 'W', 'M', 'P', 'G', 'A']

#### length of each last name from list of last names

In [9]:
[len(name) for name in last_names]

[6, 7, 5, 8, 6, 6, 9]

#### last names that begin with vowels

In [10]:
[name for name in last_names if name[0] in 'AEIOU']

['Austen', 'Akhmatova']

#### first names

In [11]:
[name.split()[0] for name in full_names]

['Jane', 'Virginia', 'Denis', 'Herman', 'Johann', 'Anna']

#### initials

In [12]:
[name.split()[0][0]+name.split()[1][0] for name in full_names]

['JA', 'VW', 'DD', 'HM', 'JW', 'AA']

In [13]:
suits = ['Hearts', 'Diamonds', 'Spades', 'Clubs']
ranks = ['2','3','4','5','6','7','8','9','10','Jack','Queen','King','Ace']

#### cards in a card deck

In [14]:
[(suit,rank) for suit in suits for rank in ranks]

[('Hearts', '2'),
 ('Hearts', '3'),
 ('Hearts', '4'),
 ('Hearts', '5'),
 ('Hearts', '6'),
 ('Hearts', '7'),
 ('Hearts', '8'),
 ('Hearts', '9'),
 ('Hearts', '10'),
 ('Hearts', 'Jack'),
 ('Hearts', 'Queen'),
 ('Hearts', 'King'),
 ('Hearts', 'Ace'),
 ('Diamonds', '2'),
 ('Diamonds', '3'),
 ('Diamonds', '4'),
 ('Diamonds', '5'),
 ('Diamonds', '6'),
 ('Diamonds', '7'),
 ('Diamonds', '8'),
 ('Diamonds', '9'),
 ('Diamonds', '10'),
 ('Diamonds', 'Jack'),
 ('Diamonds', 'Queen'),
 ('Diamonds', 'King'),
 ('Diamonds', 'Ace'),
 ('Spades', '2'),
 ('Spades', '3'),
 ('Spades', '4'),
 ('Spades', '5'),
 ('Spades', '6'),
 ('Spades', '7'),
 ('Spades', '8'),
 ('Spades', '9'),
 ('Spades', '10'),
 ('Spades', 'Jack'),
 ('Spades', 'Queen'),
 ('Spades', 'King'),
 ('Spades', 'Ace'),
 ('Clubs', '2'),
 ('Clubs', '3'),
 ('Clubs', '4'),
 ('Clubs', '5'),
 ('Clubs', '6'),
 ('Clubs', '7'),
 ('Clubs', '8'),
 ('Clubs', '9'),
 ('Clubs', '10'),
 ('Clubs', 'Jack'),
 ('Clubs', 'Queen'),
 ('Clubs', 'King'),
 ('Clubs', 'Ace')]

# Dictionary Comprehension

In [15]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [16]:
{k:v*2 for (k,v) in dict1.items()}

{'a': 2, 'b': 4, 'c': 6, 'd': 8}

In [17]:
dict1 = {'Melville': ['Moby Dick', 'Type','Omoo','Billy Budd'], 'Austen': ['Pride and Prejudice','Emma']}

In [18]:
{k:v[0] for (k,v) in dict1.items()}

{'Melville': 'Moby Dick', 'Austen': 'Pride and Prejudice'}

In [19]:
{k:len(v) for (k,v) in dict1.items()}

{'Melville': 4, 'Austen': 2}